/* @import "compass/css3";
 *, *:before, *:after {
	 box-sizing: border-box;
}
 html {
	 overflow-y: scroll;
}
 body {
	 background: #c1bdba;
	 font-family: 'Titillium Web', sans-serif;
} */

a {
    text-decoration: none;
    color: #1ab188;
    transition: 0.5s ease;
}
a:hover {
    color: #179b77;
}
.form {
    /* background: rgb(168, 183, 219); */
    background: rgb(0 68 113 / 94%);
    padding: 40px;
    max-width: 600px;
    margin: 50px auto;
    border-radius: 4px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, .3);
}

.tab-group {
    list-style: none;
    padding: 0;
    margin: 0 0 40px 0;
    
}
.tab-group:after {
    content: "";
    display: table;
    clear: both;
}

/* .tab {
   flex: 1;
   text-align: center;
} */

.tab-group li a {
    /* display: block; */
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    background: rgba(160, 179, 176, .25);
    color: #a0b3b0;
    font-size: 20px;
    float: left;
    width: 33%;
    text-align: center;
    cursor: pointer;
    transition: 0.5s ease;
}
.tab-group li a:hover {
    background: #179b77;
    color: #fff;
}
.tab-group .active a {
    background: #1ab188;
    color: #fff;
}
.tab-content > div:last-child {
    display: none;
}
h1 {
    text-align: center;
    color: #feffff;
    font-weight: 550;
    font-size: 2rem;
    margin: 0 0 30px;
}
label {
    position: absolute;
    transform: translateY(6px);
    left: 13px;
    color: rgba(254, 255, 255, 0.909);
    transition: all 0.25s ease;
    -webkit-backface-visibility: hidden;
    pointer-events: none;
    font-size: 22px;
}
label .req {
    margin: 2px;
    color: #1ab188;
}
label.active {
    transform: translateY(-20px);
    left: 2px;
    font-size: 14px;
    color: rgb(42, 91, 165);
}
label.active_R{
   transform: translateY(-20px)translateX(100px);
    left: 2px;
    font-size: 14px;
    color: rgb(42, 91, 165);

}

input[type="checkbox"]{
   transform: translateY(0px)translateX(10px);
    left: 2px;
    font-size: 14px;
    color: rgb(5, 12, 22);

}

label.active_gun{
   transform: translateY(-5px)translateX(130px);
    left: 2px;
    font-size: 14px;
    color: rgb(237, 187, 24);

}

label.active_gun active { 
   transform: translateY(-20px)translateX(20px);
    left: 2px;
    font-size: 14px;
    color: rgb(98, 237, 24);

}

label.active_gun active highlight { 
   transform: translateY(-20px)translateX(20px);
    left: 2px;
    font-size: 14px;
    color: rgb(237, 141, 24);

}

label.active .req {
    opacity: 0;
}
label.highlight {
    color: #0084ff;
}
input, textarea ,select {
    font-size: 22px;
    display: inline;
    width: 12vw;
    height: 100%;
    padding: 5px 10px;
    background: none;
    background-image: none;
    border: 1px solid #a0b3b0;
    color: #978b2d;
    border-radius: 0;
    transition: border-color 0.25s ease, box-shadow 0.25s ease;
}
#dateRange {
    margin: 0 auto; /* 设置左右外边距为 auto */
    display: block; /* 确保 select 以块级元素显示 */
    width: 20%; /* 设置宽度为父容器的100% */
    padding: 5px 10px; /* 设置内边距 */
  }
input:focus, textarea:focus ,select:focus {
    outline: 0;
    border-color: #1ab188;
}
textarea {
    border: 2px solid #a0b3b0;
    resize: vertical;
}
.field-wrap {
    position: relative;
    margin-bottom: 40px;
}
.top-row:after {
    content: "";
    display: table;
    clear: both;
}
.top-row > div {
    float: left;
    width: 48%;
    margin-right: 4%;
}
.top-row > div:last-child {
    margin: 0;
}
.button {
    border: 0;
    outline: none;
    border-radius: 0;
    padding: 5px 0;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    background: #1ab188;
    color: #fff;
    transition: all 0.5s ease;
    -webkit-appearance: none;
}
.button:hover, .button:focus {
    background: #179b77;
}
.button-block {
    display: block;
    width: 100%;
}
.forgot {
    margin-top: -20px;
    text-align: right;
}
s