/* @import "compass/css3";
 *, *:before, *:after {
	 box-sizing: border-box;
}
 html {
	 overflow-y: scroll;
}
 body {
	 background: #c1bdba;
	 font-family: 'Titillium Web', sans-serif;
} */

a {
    text-decoration: none;
    color: #1ab188;
    transition: 0.5s ease;
}
a:hover {
    color: #179b77;
}
.form {
    /* background: rgb(168, 183, 219); */
    background: rgb(0 68 113 / 94%);
    padding: 40px;
    max-width: 600px;
    margin: 50px auto;
    border-radius: 4px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, .3);
}

.tab-group {
    list-style: none;
    padding: 0;
    margin: 0 0 40px 0;
    
}
.tab-group:after {
    content: "";
    display: table;
    clear: both;
}

/* .tab {
   flex: 1;
   text-align: center;
} */

.tab-group li a {
    /* display: block; */
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    background: rgba(160, 179, 176, .25);
    color: #a0b3b0;
    font-size: 20px;
    float: left;
    width: 33%;
    text-align: center;
    cursor: pointer;
    transition: 0.5s ease;
}
.tab-group li a:hover {
    background: #179b77;
    color: #fff;
}
.tab-group .active a {
    background: #1ab188;
    color: #fff;
}
.tab-content > div:last-child {
    display: none;
}
h1 {
    text-align: center;
    color: #feffff;
    font-weight: 550;
    font-size: 2rem;
    margin: 0 0 30px;
}
label {
    position: absolute;
    transform: translateY(6px);
    left: 13px;
    color: rgba(254, 255, 255, 0.909);
    transition: all 0.25s ease;
    -webkit-backface-visibility: hidden;
    pointer-events: none;
    font-size: 22px;
}
label .req {
    margin: 2px;
    color: #1ab188;
}
label.active {
    transform: translateY(-20px);
    left: 2px;
    font-size: 14px;
    color: rgb(42, 91, 165);
}
label.active_R{
   transform: translateY(-20px)translateX(100px);
    left: 2px;
    font-size: 14px;
    color: rgb(42, 91, 165);

}

input[type="checkbox"]{
   transform: translateY(0px)translateX(10px);
    left: 2px;
    font-size: 14px;
    color: rgb(5, 12, 22);

}

label.active_gun{
   transform: translateY(-5px)translateX(130px);
    left: 2px;
    font-size: 14px;
    color: rgb(237, 187, 24);

}

label.active_gun active { 
   transform: translateY(-20px)translateX(20px);
    left: 2px;
    font-size: 14px;
    color: rgb(98, 237, 24);

}

label.active_gun active highlight { 
   transform: translateY(-20px)translateX(20px);
    left: 2px;
    font-size: 14px;
    color: rgb(237, 141, 24);

}

label.active .req {
    opacity: 0;
}
label.highlight {
    color: #0084ff;
}
input, textarea ,select {
    font-size: 22px;
    display: inline;
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    background: none;
    background-image: none;
    border: 1px solid #a0b3b0;
    color: #978b2d;
    border-radius: 0;
    transition: border-color 0.25s ease, box-shadow 0.25s ease;
}

@media screen and (max-width: 400px) {
    #OdatePicker {
      width: 50vw;
    }
  }
@media screen and (max-width: 600px) {
#OdatePicker {
    width: 40vw;
}
}

#dateRange {
    margin: 0 auto; /* 设置左右外边距为 auto */
    display: block; /* 确保 select 以块级元素显示 */
    width: 20%; /* 设置宽度为父容器的100% */
    padding: 5px 10px; /* 设置内边距 */
  }
input:focus, textarea:focus ,select:focus {
    outline: 0;
    border-color: #1ab188;
}
textarea {
    border: 2px solid #a0b3b0;
    resize: vertical;
}
.field-wrap {
    position: relative;
    margin-bottom: 40px;
}
.top-row:after {
    content: "";
    display: table;
    clear: both;
}
.top-row > div {
    float: left;
    width: 48%;
    margin-right: 4%;
}
.top-row > div:last-child {
    margin: 0;
}
.button {
    border: 0;
    outline: none;
    border-radius: 0;
    padding: 5px 0;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    background: #1ab188;
    color: #fff;
    transition: all 0.5s ease;
    -webkit-appearance: none;
}
.button:hover, .button:focus {
    background: #179b77;
}
.button-block {
    display: block;
    width: 100%;
}
.forgot {
    margin-top: -20px;
    text-align: right;
}
table.dataTable {
    clear: both;
    margin-top: 6px !important;
    margin-bottom: 6px !important;
    max-width: none !important;
    border-collapse: separate !important;
  }
  table.dataTable td,
  table.dataTable th {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
  }
  table.dataTable td.dataTables_empty,
  table.dataTable th.dataTables_empty {
    text-align: center;
  }
  table.dataTable.nowrap th,
  table.dataTable.nowrap td {
    white-space: nowrap;
  }
  
  div.dataTables_wrapper div.dataTables_length label {
    font-weight: normal;
    text-align: left;
    white-space: nowrap;
  }
  div.dataTables_wrapper div.dataTables_length select {
    width: 75px;
    display: inline-block;
  }
  div.dataTables_wrapper div.dataTables_filter {
    text-align: right;
  }
  div.dataTables_wrapper div.dataTables_filter label {
    font-weight: normal;
    white-space: nowrap;
    text-align: left;
  }
  div.dataTables_wrapper div.dataTables_filter input {
    margin-left: 0.5em;
    display: inline-block;
    width: auto;
  }
  div.dataTables_wrapper div.dataTables_info {
    padding-top: 8px;
    white-space: nowrap;
  }
  div.dataTables_wrapper div.dataTables_paginate {
    margin: 0;
    white-space: nowrap;
    text-align: right;
  }
  div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    margin: 2px 0;
    white-space: nowrap;
  }
  div.dataTables_wrapper div.dataTables_processing {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    margin-left: -100px;
    margin-top: -26px;
    text-align: center;
    padding: 1em 0;
  }
  
  table.dataTable thead > tr > th.sorting_asc, table.dataTable thead > tr > th.sorting_desc, table.dataTable thead > tr > th.sorting,
  table.dataTable thead > tr > td.sorting_asc,
  table.dataTable thead > tr > td.sorting_desc,
  table.dataTable thead > tr > td.sorting {
    padding-right: 30px;
  }
  table.dataTable thead > tr > th:active,
  table.dataTable thead > tr > td:active {
    outline: none;
  }
  table.dataTable thead .sorting,
  table.dataTable thead .sorting_asc,
  table.dataTable thead .sorting_desc,
  table.dataTable thead .sorting_asc_disabled,
  table.dataTable thead .sorting_desc_disabled {
    cursor: pointer;
    position: relative;
  }
  table.dataTable thead .sorting:after,
  table.dataTable thead .sorting_asc:after,
  table.dataTable thead .sorting_desc:after,
  table.dataTable thead .sorting_asc_disabled:after,
  table.dataTable thead .sorting_desc_disabled:after {
    position: absolute;
    bottom: 8px;
    right: 8px;
    display: block;
    font-family: 'Glyphicons Halflings';
    opacity: 0.5;
  }
  table.dataTable thead .sorting:after {
    opacity: 0.2;
    content: "\e150";
    /* sort */
  }
  table.dataTable thead .sorting_asc:after {
    content: "\e155";
    /* sort-by-attributes */
  }
  table.dataTable thead .sorting_desc:after {
    content: "\e156";
    /* sort-by-attributes-alt */
  }
  table.dataTable thead .sorting_asc_disabled:after,
  table.dataTable thead .sorting_desc_disabled:after {
    color: #eee;
  }
  
  div.dataTables_scrollHead table.dataTable {
    margin-bottom: 0 !important;
  }
  
  div.dataTables_scrollBody table {
    border-top: none;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
  div.dataTables_scrollBody table thead .sorting:after,
  div.dataTables_scrollBody table thead .sorting_asc:after,
  div.dataTables_scrollBody table thead .sorting_desc:after {
    display: none;
  }
  div.dataTables_scrollBody table tbody tr:first-child th,
  div.dataTables_scrollBody table tbody tr:first-child td {
    border-top: none;
  }
  
  div.dataTables_scrollFoot table {
    margin-top: 0 !important;
    border-top: none;
  }
  
  @media screen and (max-width: 767px) {
    div.dataTables_wrapper div.dataTables_length,
    div.dataTables_wrapper div.dataTables_filter,
    div.dataTables_wrapper div.dataTables_info,
    div.dataTables_wrapper div.dataTables_paginate {
      text-align: center;
    }
  }
  table.dataTable.table-condensed > thead > tr > th {
    padding-right: 20px;
  }
  table.dataTable.table-condensed .sorting:after,
  table.dataTable.table-condensed .sorting_asc:after,
  table.dataTable.table-condensed .sorting_desc:after {
    top: 6px;
    right: 6px;
  }
  
  table.table-bordered.dataTable th,
  table.table-bordered.dataTable td {
    border-left-width: 0;
  }
  table.table-bordered.dataTable th:last-child, table.table-bordered.dataTable th:last-child,
  table.table-bordered.dataTable td:last-child,
  table.table-bordered.dataTable td:last-child {
    border-right-width: 0;
  }
  table.table-bordered.dataTable tbody th,
  table.table-bordered.dataTable tbody td {
    border-bottom-width: 0;
  }
  
  div.dataTables_scrollHead table.table-bordered {
    border-bottom-width: 0;
  }
  
  div.table-responsive > div.dataTables_wrapper > div.row {
    margin: 0;
  }
  div.table-responsive > div.dataTables_wrapper > div.row > div[class^="col-"]:first-child {
    padding-left: 0;
  }
  div.table-responsive > div.dataTables_wrapper > div.row > div[class^="col-"]:last-child {
    padding-right: 0;
  }

  div.dt-button-info {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 400px;
    margin-top: -100px;
    margin-left: -200px;
    background-color: white;
    border: 2px solid #111;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    text-align: center;
    z-index: 21;
  }
  div.dt-button-info h2 {
    padding: 0.5em;
    margin: 0;
    font-weight: normal;
    border-bottom: 1px solid #ddd;
    background-color: #f3f3f3;
  }
  div.dt-button-info > div {
    padding: 1em;
  }
  
  ul.dt-button-collection.dropdown-menu {
    display: block;
    z-index: 2002;
    -webkit-column-gap: 8px;
    -moz-column-gap: 8px;
    -ms-column-gap: 8px;
    -o-column-gap: 8px;
    column-gap: 8px;
  }
  ul.dt-button-collection.dropdown-menu.fixed {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -75px;
    border-radius: 0;
  }
  ul.dt-button-collection.dropdown-menu.fixed.two-column {
    margin-left: -150px;
  }
  ul.dt-button-collection.dropdown-menu.fixed.three-column {
    margin-left: -225px;
  }
  ul.dt-button-collection.dropdown-menu.fixed.four-column {
    margin-left: -300px;
  }
  ul.dt-button-collection.dropdown-menu > * {
    -webkit-column-break-inside: avoid;
    break-inside: avoid;
  }
  ul.dt-button-collection.dropdown-menu.two-column {
    width: 300px;
    padding-bottom: 1px;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    -ms-column-count: 2;
    -o-column-count: 2;
    column-count: 2;
  }
  ul.dt-button-collection.dropdown-menu.three-column {
    width: 450px;
    padding-bottom: 1px;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    -ms-column-count: 3;
    -o-column-count: 3;
    column-count: 3;
  }
  ul.dt-button-collection.dropdown-menu.four-column {
    width: 600px;
    padding-bottom: 1px;
    -webkit-column-count: 4;
    -moz-column-count: 4;
    -ms-column-count: 4;
    -o-column-count: 4;
    column-count: 4;
  }
  
  div.dt-button-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2001;
  }
  
  @media screen and (max-width: 767px) {
    div.dt-buttons {
      float: none;
      width: 100%;
      text-align: center;
      margin-bottom: 0.5em;
    }
    div.dt-buttons a.btn {
      float: none;
    }
  }