/*=============================================
=                  General                    =
=============================================*/

* {
    box-sizing: border-box;
}



body {
    max-width: 100%;
    overflow-x: hidden;
}

button:focus {
    outline: none;
}


/*=============================================
=                  Navbar                     =
=============================================*/

.navbar {
    box-shadow: 0 3px 18px rgb(250, 250, 250);
}

.nav-pills .nav-link {
    font-size: 30px;
    /* 設定文字大小為16像素，您可以根據需要進行調整 */
}


  
  body {
    font-family: "ROBOTO", sans-serif;
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
  }
  
  .nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    position: relative;
    /* background-color: #287897; */
    text-align: center;
    padding: 1%;
  }
  .slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width:  ;
    position: relative;
    background-color: #287897;
    text-align: center;
    padding: 0 2em;
  }
  
  .nav h1,
  .slider h1 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 5vw;
    margin: 0;
    padding-bottom: 0.5rem;
    letter-spacing: 0.5rem;
    color: #333976;
    transition: all 0.3s ease;
    z-index: 3;
  }
  .h1.nav h1,
  .slider h1:hover {
    transform: translate3d(0, -10px, 22px);
    color: #e74c04;
  }
  
  .slider h2 {
    font-size: 2vw;
    letter-spacing: 0.3rem;
    font-family: "ROBOTO", sans-serif;
    font-weight: 300;
    color: #faebd7;
    z-index: 4;
  }
  h3.span {
    font-size: 5vw;
    letter-spacing: 0.7em;
    font-family: "ROBOTO", sans-serif;
    font-weight: 300;
    color: #faebd7;
    z-index: 4;
    
  }

  #order_label{
    
    margin-bottom: 20%;

  }


  #order_label:hover{
    
    margin-bottom: 5%;

  }

  span:hover {
    color: #ff7c02;
    font-weight: 500;
    font-size: 2.2vw;
    margin-top: 5px;
    
  }
  
  a {
    text-decoration: none;
  }
  
  .nav-container {

    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 75px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    background: #f1f6f8;
    z-index: 10;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  }
  
  .nav-container--top-first {
    position: fixed;
    top: 75px;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  }
  
  .nav-container--top-second {
    position: fixed;
    top: 0;
  }
  .nav-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: #03dac6;
    letter-spacing: 0.1rem;
    transition: all 0.5s ease;
    font-size: 2vw;
  }
  
  .nav-tab:hover {
    color: #ececf0;
    background: #03dac6;
    transition: all 0.5s ease;
  }
  
  .nav-tab-slider {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 2px;
    background: #03dac6;
    transition: left 0.3s ease;
  }
  .background {
    position: absolute; 
    height: 90vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: auto;
  }
  @media (min-width: 800px) {
    .nav h1,
    .slider h1 {
      font-size: 5vw;
    }
  
    .nav h2,
    .slider h2 {
      font-size: 3vw;
    }
  
    .nav-tab {
      font-size: 3vw;
    }
  }
  
  /* 在屏幕寬度小於 360 像素時應用的樣式 */
  @media screen and (max-width: 359px) {
  h1.loader span {
    font-size: 8vw; /* 在小螢幕上的字體大小 */
    letter-spacing: 0.2vw; /* 在小螢幕上的字母間距 */
  }
  }

  .background {
    position: absolute;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
  }
  .loader span {
    color: #faebd7;
    text-shadow: 0 0 0 #faebd7;
    -webkit-animation: loading 1s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes loading {
    to {
      text-shadow: 20px 0 70px #ff0266;
      color: #ff0266;
    }
  }
  .loader span:nth-child(2) {
    -webkit-animation-delay: 0.1s;
  }
  .loader span:nth-child(3) {
    -webkit-animation-delay: 0.2s;
  }
  .loader span:nth-child(4) {
    -webkit-animation-delay: 0.3s;
  }
  .loader span:nth-child(5) {
    -webkit-animation-delay: 0.4s;
  }
  .loader span:nth-child(6) {
    -webkit-animation-delay: 0.5s;
  }
  .loader span:nth-child(7) {
    -webkit-animation-delay: 0.6s;
  }
  .loader span:nth-child(8) {
    -webkit-animation-delay: 0.7s;
  }
  .loader span:nth-child(9) {
    -webkit-animation-delay: 0.8s;
  }
  
  .loader span:nth-child(10) {
    -webkit-animation-delay: 0.9s;
  }
 
  

/* NEW NAVEND */










/*=============================================
=                 FORM                =
=============================================*/

/* form {
    border-radius: 0px;
    /* background-image: <link rel=""herf="C:\Users\zaqzaq134\Desktop\第八講 Bootstrap Landing Page 排版\img\首頁.jpg"; */
    /* background-image: url('/tickets/img/wood-591631_1280.jpg'); */
    background-size: cover;
    /* 固定背景 */
    background-attachment: fixed;
    background-position: center center;
    /* filter: brightness(0.5); */
    position: relative;
} */

/* form>.container {
    position: relative;
    z-index: 2;
    margin-top: 40%px;
    margin-bottom: 20%px;
    padding: 100; 
} */

form>.container>.button{
    margin-top: 40%px;
    margin-bottom: 20%px;
}

/* 表格對齊方式 */

/* 
#planpicker, #datetimepicker  {
    display: flex;
    justify-content: space-between;
} */

#container {
    display: block;
    justify-content: space-between;
}


/* 如果你想进一步定制内部子元素的样式，可以添加以下规则 */
#container>div {
    /* 子元素的样式 */
    display: flex;
    justify-content: space-between;
}

#ticketTableAA {
    border: 1px solid gray;
    border-collapse: collapse;
    width: 100%; /* 表格宽度设置为100%以适应容器 */
    
}


#ticketTableAA thead,

#ticketTableAA tfoot {
    background-color: lightpink;
    
}

#ticketTableAA tbody {
    background-color: rgb(210, 208, 208);
}

#ticketTableAA th,
#ticketTableAA td {
    border: 1px solid gray;
    padding: 5px;
    text-align: center; /* 文本居中对齐 */
}
#ticketTableAA  td>div {
    display:inline-flex;
    text-align: center;
    justify-content: space-between;
}


/*=============================================
=                  Header                     =
=============================================*/
/* 加入背景圖片 */
#header {
    border-radius: 0px;
    background-color: #03dac6;
    margin-bottom: 10px;
    padding: 10px;
    /* background-image: <link rel=""herf="C:\Users\zaqzaq134\Desktop\第八講 Bootstrap Landing Page 排版\img\首頁.jpg"; */
    background-image: url('/tickets/img/ocean.jpg');
    background-size: cover;
    /* height: 50%70; */
    /* 固定背景 */
    background-attachment: fixed;
    background-position: center center;
    /* filter: brightness(0.9); */
    position: relative;
}

.header {
    margin: 0 2%;
    padding: 5% 0;
}

#header>.container {
   filter: brightness(1.);
    position: relative;
    z-index: 2;
}


/* 動畫 */

@keyframes enter {
  0%,  {
    transform: translateX(-200%); /* 从左边进入并停在0位置 */
  }
   {
  50%  transform: translateX(0); /* 暂停，元素停在0位置 */
  }
}

@keyframes exit {
  100% {
    transform: translateX(+100%); /* 从0位置移出到右边 */
  }
}


.my-element {
  /* display: inline-block; */
  margin: 0 0.5rem;
  animation:enter 4s ease-in infinite, swing 6s infinite , exit 4s ease-out infinite; 
  /* 使用 'enterAndExit' 和 'bounce' 动画效果 */
}




/*=============================================
=                  Intro                      =
=============================================*/
.intro-box {
  border-color: #000;
  border-radius: 15%;
  padding: 5%;
  transition: all .5s ease-out;
  /* padding: 15px 15px; */
  text-align: center;
}

.intro-box:hover {
  background: rgba(240, 217, 164, 0.788);
  box-shadow: 0px 10px 10px rgba(0, 0, 0, .25);
  border-radius: 5%;
  padding: 5%;
}

intro-box-card {
  border-color: #000;
  border-radius: 15%;
  padding: 5%;
  transition: all .5s ease-out;
  /* padding: 15px 15px; */
  text-align: center;

  opacity: .7;
  position: relative;
  top: 10px;
  transition: all .3s ease;
}


intro-box-card:hover {
  background: rgba(255, 250, 99, 0.883);
  box-shadow: 0px 10px 10px rgba(0, 0, 0, .25);
  border-radius: 10%;
  padding: 5%;

  width: 22px;

  opacity: 1;
  top: 0px;
}


.intro-box .icon {
  opacity: .7;
  position: relative;
  top: 10px;
  transition: all .3s ease;
}

.intro-box:hover .intro-line:hover {
  width: 22px;
}

.intro-box:hover .icon {
  opacity: 1;
  top: 0px;
}



.intro-div{
  background: #20bb94;
}


.input-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1px;
}

.intro-line {
  width: 20px;
  height: 6px;
  border-radius: 3px;
  margin: 5px auto;
  transition: all .5s ease;
}
.intro-line {
  background: #20bb94;
}


/*=============================================
=                   articleA                 =
=============================================*/
.nav-link {
  display: block;
  padding: 0.5rem 2rem;
  MARGIN: 0 2REM;
}

.btn_P {
  color: #FFF;
  margin-top: 0.5rem;
  background-color: var(--slide-color);
  border-color: var(--slide-color);
  border-radius: 6px;
  font-size: 26px !important;
  -webkit-box-shadow: 0 10px 45px 0px rgb(245, 255, 135);
  box-shadow: 0 10px 45px 0px rgba(115,151,201,0.35);
  transition: 0.2s;
}
.btn_S {
  font-size: 1.25rem;
  background-color: #ffab3e;
  padding: 0.25em 0.4em;
  color: #060606;
  height: 2rem;
  width: 2rem;
  border: 2px solid #ffee38;
  border-radius: 2rem;
  display: inline-block;
  margin-bottom: 0.3125rem;
}







/* Table of contents */
.bd-aside a {
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: .3125rem;
  color: var(--bs-body-color);
}

.bd-aside a:hover,
.bd-aside a:focus {
  color: var(--bs-body-color);
  background-color: rgba(121, 82, 179, .1);
}

.bd-aside .active {
  font-weight: 600;
  color: var(--bs-body-color);
}

.bd-aside .btn {
  padding: .25rem .5rem;
  font-weight: 600;
  color: var(--bs-body-color);
}

.bd-aside .btn:hover,
.bd-aside .btn:focus {
  color: var(--bs-body-color);
  background-color: rgba(121, 82, 179, .1);
}

.bd-aside .btn:focus {
  box-shadow: 0 0 0 1px rgba(121, 82, 179, .7);
}

.bd-aside .btn::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23ccc' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform .35s ease;

  /* rtl:raw:
  transform: rotate(180deg) translateX(-2px);
  */
  transform-origin: .5em 50%;
}

.bd-aside .btn[aria-expanded="true"]::before {
  transform: rotate(90deg)/* rtl:ignore */;
}

/*=============================================
=                   Footer                    =
=============================================*/

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-end p {
    font-size: 8px;
    margin: 0;
}

/*=============================================
=                  Glass cover                =
=============================================*/
#featuresSection {
    
    background-color: #172659f9;
    height: 100%;
  }
  
   #featuresSection:before {         
      background: -moz-linear-gradient(-100deg, rgba(255,255,255,0.09) 0%, rgba(255,255,255,0.1) 40%, rgba(10,14,10,0.09) 40%, rgba(255,255,255,0.2) 90%); /* FF3.6+ */
      background: -webkit-linear-gradient(-40deg, rgba(255,255,255,0.09) 0%,rgba(255,255,255,0.1) 40%,rgba(10,14,10,0.09) 40%,rgba(255,255,255,0.2) 90%); /* Chrome10+,Safari5.1+ */            
      background: -o-linear-gradient(-40deg, rgba(255,255,255,0.09) 0%, rgba(255,255,255,0.1) 40%, rgba(10,14,10,0.09) 40%, rgba(255,255,255,0.2) 90%); /* Opera 11.10+ */
      background: -ms-linear-gradient(-40deg, rgba(255,255,255,0.09) 0%, rgba(255,255,255,0.1) 40%, rgba(10,14,10,0.09) 40%, rgba(255,255,255,0.2) 90%); /* IE10+ */
      background: linear-gradient(-220deg, rgba(255,255,255,0.09) 0%, rgba(255,255,255,0.1) 40%, rgba(10,14,10,0.09) 40%, rgba(255,255,255,0.2) 90%); /* W3C */
  
      border-radius: 6px 6px 6px 6px;
      border-top: 3px solid rgba(255, 255, 255, 0.2);
      border-left: 1px solid rgba(255, 255, 255, 0.3);
      border-right: 1px solid rgba(255, 255, 255, 0.2);
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
      content: " ";
      height: 93%;
      margin: -10% -80% 0% -55%;
      position: absolute;
      width: 110%;
  
  } 
  
   @media screen and (max-width: 800px) {
  
    #featuresSection:before {   
        content: " ";
        height: 105%;
        margin: -20% 0% 0% -55%;
        position: absolute;
        width: 110%;
    } 
    .font-rwd h2 {
        font-size: 30px;
    }
    
    .font-rwd h3 {
        font-size: 22px;
    }
  
  
    .main_button {
        width: 120px;
        display: inline-block;
        background-color: #95e7f6;
        /* font-size: 15px; */
        /* font-weight: 400; */
        color: #f33d3d;
        text-transform: capitalize;
        padding: 15px 15px;
        border-radius: 23px;
        letter-spacing: 0.5px;
        border: none;
        outline: none;
        transition: all .3s;
      }
  
    .main_button h3{
        font-size: 18px;
        font-weight: 200;
      }
  
      .main_buttons:hover {
        background-color: #03a4ed;
      }
  
  }               
  
  /* 在屏幕寬度小於 700 像素時應用的樣式 */
  /* @media screen and (max-width: 700px) {
  
    #inner  {
  
         width: 110%;
        margin-left: 0px;
        z-index: 2;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
        
        border-radius: 5px;
        margin-bottom: 35px;
        margin-top: 35px;
    
      }
  
    #featuresSection:before {   
        content: " ";
        height: 115%;
        margin: -18% 0% -0% -55%;
        position: absolute;
        width: 110%;
    } 
    .font-rwd h2 {
       
        font-size: 30px; 
    }
    
    .font-rwd h3 {
        
        font-size: 22px; 
    }
  
    .main_button h3{
        font-size: 18px;
        font-weight: 100;
      }
  
  }                */
  
  
  /* 在屏幕寬度小於 700 像素時應用的樣式 */
  @media screen and (max-width: 620px) {
  
    #inner  {
  
         width: 110%;
        margin-left: 0px;
        z-index: 2;
        /* background-image: url(/tickets/img/contact-form-bg.png); */
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
        
        border-radius: 5px;
        margin-bottom: 35px;
        margin-top: 35px;
    
      }
  
    #featuresSection:before {   
        content: " ";
        height: 115%;
        margin: -18% 0% -0% -55%;
        position: relative;
    } 
    .font-rwd h2 {
       
        font-size: 30px; /* 你的字体大小值 */
    }
    
    .font-rwd h3 {
        
        font-size: 22px; /* 你的字体大小值 */
    }
  
    .main_button h3{
        font-size: 18px;
        font-weight: 100;
      }
  
  } 
  
/*=============================================
=                   form                   =
=============================================*/
#buyers_list{
    padding: 2rem;
}

a {
  text-decoration: none;
  color: #1ab188;
  transition: 0.5s ease;
}
a:hover {
  color: #179b77;
}
.form {
  /* background: rgb(168, 183, 219); */
  /* background: rgb(255, 255, 255); */
  /* padding: 40px; */
  max-width: 1000px;
  margin: 50px auto;
  border-radius: 4px;
  /* box-shadow: 0 4px 10px 4px rgba(19, 35, 47, .3); */
}

.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
    
}
.tab-group:after {
  content: "";
  display: table;
  clear: both;
}

/* .tab {
   flex: 1;
   text-align: center;
} */

.tab-group li a {
  /* display: block; */
    display: inline-block;
  text-decoration: none;
  padding: 10px;
  /* background: rgba(160, 179, 176, .25); */
  color: #a0b3b0;
  font-size: 20px;
  float: left;
  width: 20%;
  text-align: center;
  cursor: pointer;
  transition: 0.5s ease;
}
.tab-group li a:hover {
  background: #179b77;
  color: #fff;
}
.tab-group .active a {
  
  background-color: #ff695f;
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  text-transform: capitalize;
  padding: 12px 25px;
  border-radius: 23px;
  letter-spacing: 0.25px;
  border: none;
  outline: none;
  transition: all .3s;
}
.tab-content > div:last-child {
  display: none;
}
h1 {
  text-align: center;
  color: #feffff;
  font-weight: 550;
  font-size: 2rem;
  margin: 0 0 30px;
}
label {
  position: absolute;
  transform: translateY(6px);
  left: 13px;
  color: rgba(254, 255, 255, 0.909);
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 22px;
}
label .req {
  margin: 2px;
  color: #1ab188;
}
label.active {
  transform: translateY(-20px);
  left: 2px;
  font-size: 14px;
  color: rgb(42, 91, 165);
}
label.active_R{
 transform: translateY(-20px)translateX(100px);
  left: 2px;
  font-size: 14px;
  color: rgb(42, 91, 165);

}

input[type="checkbox"]{
 transform: translateY(0px)translateX(10px);
  left: 2px;
  font-size: 14px;
  color: rgb(5, 12, 22);

}

label.active_gun{
 transform: translateY(-5px)translateX(130px);
  left: 2px;
  font-size: 14px;
  color: rgb(237, 187, 24);

}

label.active_gun active { 
 transform: translateY(-20px)translateX(20px);
  left: 2px;
  font-size: 14px;
  color: rgb(98, 237, 24);

}

label.active_gun active highlight { 
 transform: translateY(-20px)translateX(20px);
  left: 2px;
  font-size: 14px;
  color: rgb(237, 141, 24);

}

label.active .req {
  opacity: 0;
}
label.highlight {
  color: #0084ff;
}
input, textarea ,select {
  font-size: 22px;
  /* display: block; */
  width: 50%;
  height: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  color: #978b2d;
  border-radius: 0;
  transition: border-color 0.25s ease, box-shadow 0.25s ease;
}
input:focus, textarea:focus ,select:focus {
  outline: 0;
  border-color: #1ab188;
}
textarea {
  border: 2px solid #a0b3b0;
  resize: vertical;
}
.field-wrap {
  position: relative;
  margin-bottom: 40px;
}
.top-row:after {
  content: "";
  display: table;
  clear: both;
}
.top-row > div {
  float: left;
  width: 48%;
  margin-right: 4%;
}
.top-row > div:last-child {
  margin: 0;
}
.button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 5px 0;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  background: #1ab188;
  color: #fff;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}
.button:hover, .button:focus {
  background: #179b77;
}
.button-block {
  display: block;
  width: 50%;
  margin: 0 5rem;
}
.forgot {
  margin-top: -20px;
  text-align: right;
}



/* 
---------------------------------------------
contact(new)
--------------------------------------------- 
*/
/* form {
  margin-left: 0px;
  position: relative;
  z-index: 2;
  background-image: url(/tickets/img/contact-form-bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
  padding: 20px 20px;
  border-radius: 50px;
  margin-bottom: 35px;
  margin-top: 35px;
} */

form#contact input {
  width: 100%;
  height: 46px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid #9bdbf8;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  font-size: 15px;
  font-weight: 300;
  color: #2a2a2a;
  padding-top: 50px;
  padding: 0px 0px;
  margin-bottom: 35px;
}



form#contact input::placeholder {
  color: #afafaf;
}

form#contact button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 5px 0;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  background: #1ab188;
  color: #fff;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}

form#contact button:hover {
  color: #1ab188;;
  background-color: #fdfeff;
}

---------------------------------------------
Carousel
--------------------------------------------- 
h1{
  color: lightseagreen;
  text-align: center;
}


/* :::::: arrows :::::: */
.arrow,
.arrow label,
.arrow .ico {
    position: absolute;
}
.arrow {
    top: 0;
    margin: 0;
    transition: background .3s;
}
.prev {
    left: 0;
}
.next {
    right: 0;
}
.arrow:hover {
    background: rgba(53, 230, 3, 0.2);
}
.arrow,
.arrow label {
    cursor: pointer;
    width: 50px;
    height: 100%;
}
.arrow label {
    top: 0;
    left: 0;
    z-index: 1;
}
.arrow .ico {
    top: calc(50% - 6px);
    width: 12px;
    height: 12px;
    border-top: 3px solid #ff0101;
    opacity: 0;
}
.prev .ico {
    left: 50%;
    border-left: 3px solid #ff0101;
    transform: rotate(-45deg);
    transition: left .3s cubic-bezier(0.215, 0.61, 0.355, 1), opacity .3s;
}
.next .ico {
    right: 50%;
    border-right: 3px solid #ff0101;
    transform: rotate(45deg);
    transition: right .3s cubic-bezier(0.215, 0.61, 0.355, 1), opacity .3s;
}
.arrow:hover .ico {
    opacity: .6;
}
.prev:hover .ico {
    left: calc(50% - 6px);
}
.next:hover .ico {
    right: calc(50% - 6px);
}



---------------------------------------------
              steps bar 
--------------------------------------------- 


/*custom font*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);

/*basic reset*/
* {margin: 0; padding: 0;}

html {
	height: 100%;
	/*Image only BG fallback*/
	
	/*background = gradient + image pattern combo*/
	background: 
		linear-gradient(rgba(196, 102, 0, 0.6), rgba(155, 89, 182, 0.6));
}

body {
	font-family: montserrat, arial, verdana;
}
/*form styles*/
#msform {
	/* width: 1200px; */
	margin: 50px auto;
	text-align: center;
	position: relative;
}
.fieldset {
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;
	
	/*stacking fieldsets above each other*/
	position: relative;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}
/*inputs*/
#msform input, #msform textarea {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
}
/*buttons*/
#msform .action-button {
	width: 100px;
	background: #27AE60;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px;
	margin: 10px 5px;
  text-decoration: none;
  font-size: 14px;
}
#msform .action-button:hover, #msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}
/*headings*/
.fs-title {
	font-size: 2rem;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}
#progressbar li {
	list-style-type: none;
	color: white;
	text-transform: uppercase;
	font-size: 1.5rem;
	width: 30%;
	float: left;
	position: relative;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 2rem;
	line-height: 3rem;
	display: block;
	font-size: 2rem;
	color: #333;
	background: white;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: white;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: #27AE60;
	color: white;
}



/*=============================================
=                   contact(new)                   =
=============================================*/

form#contact {
    margin-left: 0px;
    position: relative;
    z-index: 2;
    /* background-image: url(/tickets/img/contact-form-bg.png); */
    background-color: rgb(194, 201, 240);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
    padding: 20px 20px;
    border-radius: 10px;
    margin-bottom: 35px;
    margin-top: 35px;
  
    border-top:    2px solid #100f0f;
    border-bottom: 1px solid #999;
  }
  
  
  form#contact input {
    width: 100%;
    height: 46px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom: 1px solid #9bdbf8;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    font-size: 15px;
    font-weight: 300;
    color: #2a2a2a;
    padding-top: 50px;
    padding: 0px 0px;
    margin-bottom: 35px;
  }
  
  
  
  
  form#contact button {
      display: inline-block;
      background-color:#20bb94;
      font-size: 15px;
      font-weight: 400;
      color: #fff;
      text-transform: capitalize;
      padding: 12px 25px;
      border-radius: 23px;
      letter-spacing: 0.25px;
      border: none;
      outline: none;
      transition: all .3s;
    }
    
    form#contact button:hover {
      background-color: rgb(248, 41, 41);
    }
    
  
    table th, .table td {
      font-size: 25px;
  }
  
  .table th, .table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: none;
}
.table thead th {
    border-bottom: none;
}



---------------------------------------------
               bar 
--------------------------------------------- 
.scroll-buttons {
    position: relative;
}

.scroll-buttons button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.scroll-left {
    left: 0;
}

.scroll-right {
    right: 0;
}

