
/*************表格***************/
.settings {
  max-width: 100%; /* Replace with a specific value */
  padding: 0% 5%;
  margin: 2%  0%;
}

#box {
  margin: 0px 20px;
  padding: 0.2em;
  padding-top: 1.5em;
  background: #f5f5f5;
  vertical-align: top;
  border-radius: 5px; /* Replace with a specific value */
  box-shadow: 0 20px 20px rgba(0,0,0,.3); /* Replace with a specific value */
}



.border_line {
    display: flex;
    justify-content: space-between;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 600;
    text-align: left;
    color: #8dbceb; 
    border-bottom: 2px solid #ffb71c; 
    padding-bottom: 3px;
    margin-bottom: 20px;
  }

  @media screen and (max-width: 580px) {
    .border_line {
        display: block;
    }
  }


.inline {
  /* display: inline-block;
  vertical-align: middle; */
  display: flex;
    align-items: center;
  padding-bottom: 5px;
}

.inline > span {
    margin-left: 10px; /* 調整文字和圖標之間的間距 */
}

.checkbox{
  margin-top: 0px;
  margin-bottom: 0px;
}

.checkbox span.checkbox-material {
  margin-right: 5px;
}


.form-group .floating-label {
  font-weight: bold;
  color: rgb(210, 47, 47);
}

.form-group .floating-label.off{
    font-weight: bold;
    color: rgb(86, 57, 57);
  }

/* Reduce spacing */
.form-group {
  margin: 2px 0;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.form-group label {
    flex: 0 0 auto;
    width:5%; /* 調整需要的寬度 */
    text-align: left; /* 將文字置左對齊 */  
    margin-left: 0; /*可以調整 label 與 input 之間的間距*/
}
.form-group input {
    flex: 1 1 auto;
}


.form-control, .form-group .form-control {
    border: 0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#009688), to(#009688)), -webkit-gradient(linear, left top, left bottom, from(#D2D2D2), to(#D2D2D2));
    background-image: -webkit-linear-gradient(#009688, #009688), -webkit-linear-gradient(#D2D2D2, #D2D2D2);
    background-image: -o-linear-gradient(#009688, #009688), -o-linear-gradient(#D2D2D2, #D2D2D2);
    background-image: linear-gradient(#009688, #009688), linear-gradient(#D2D2D2, #D2D2D2);
    -webkit-background-size: 0 2px, 100% 1px;
    background-size: 0 2px, 100% 1px;
    background-repeat: no-repeat;
    background-position: center bottom, center -webkit-calc(100% - 1px);
    background-position: center bottom, center calc(100% - 1px);
    background-color: rgba(0, 0, 0, 0);
    -webkit-transition: background 0s ease-out;
    -o-transition: background 0s ease-out;
    transition: background 0s ease-out;
    float: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
}



/* Spacing for the contract data only if we're in small or x-small layout */
#contract-data-cont {
  padding-top: 20px;
}


.form-group {
    margin: 2% 2% 2% 2%;
}

.label_n {
    color:rgb(129, 79, 8);
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}



.label_m {
    color:rgb(20, 130, 12);
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}



/****************************carousel************************************** */
h1{
    color: lightseagreen;
    text-align: center;
  }
  
  .slideshow {
      position: relative;
      overflow: hidden;
  }
  input[name="slideshow"] {
      display: none;
  }
  
  /* :::::: slideContents :::::: */
  .slideContents {
      position: relative;
      background: lightSeaGreen;
      text-align: center;
      -webkit-user-select: none;
      user-select: none;
      transition: transform .6s;
  }
  .slideContents section {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      transform: translateX(100%);
      transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  
.slideContents section #settings  {
    background: #fff;
      max-width: 90%;
      /* padding: 0 50px; */
      box-sizing: border-box;
      vertical-align: middle;
  }

  .slideContents section img {
        max-width: 100%;
        padding: 0 50px;
        box-sizing: border-box;
        vertical-align: middle;
    }
  
  /* :::::: arrows :::::: */
  .arrow,
  .arrow label,
  .arrow .ico {
      position: absolute;
  }
  .arrow {
      top: 0;
      margin: 0;
      transition: background .3s;
  }
  .prev {
      left: 0;
  }
  .next {
      right: 0;
  }
  .arrow:hover {
      background: rgba(255,255,255,.2);
  }
  .arrow,
  .arrow label {
      cursor: pointer;
      width: 50px;
      height: 100%;
  }
  .arrow label {
      top: 0;
      left: 0;
      z-index: 1;
  }
  .arrow .ico {
      top: calc(50% - 6px);
      width: 12px;
      height: 12px;
      border-top: 3px solid #fff;
      opacity: 0;
  }
  .prev .ico {
      left: 50%;
      border-left: 3px solid #fff;
      transform: rotate(-45deg);
      transition: left .3s cubic-bezier(0.215, 0.61, 0.355, 1), opacity .3s;
  }
  .next .ico {
      right: 50%;
      border-right: 3px solid #fff;
      transform: rotate(45deg);
      transition: right .3s cubic-bezier(0.215, 0.61, 0.355, 1), opacity .3s;
  }
  .arrow:hover .ico {
      opacity: .6;
  }
  .prev:hover .ico {
      left: calc(50% - 6px);
  }
  .next:hover .ico {
      right: calc(50% - 6px);
  }
  
  /* :::::: contents :::::: */
  .slideContents section {
      opacity: 0;
  }
  .slideContents section .contents {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 16px;
      box-sizing: border-box;
  }
  .slideContents section h1,
  .slideContents section p {
      margin: 0;
      color: lightseagreen;
      opacity: 0;
  }
  .slideContents section h1 {
      font-size: 16px;
  }
  .slideContents section p {
      margin-top: .5em;
      font-size: 12px;
  }
  
  /* :::::: mechanism :::::: */
  #switch1:checked ~ .slideContents #slide1,
  #switch2:checked ~ .slideContents #slide2,
  #switch3:checked ~ .slideContents #slide3 {
      position: relative;
      opacity: 1;
      transform: none;
  }
  #switch1:checked ~ .slideContents #slide3,
  #switch2:checked ~ .slideContents #slide1,
  #switch3:checked ~ .slideContents #slide2 {
      transform: translateX(-100%);
  }
  #switch1:checked ~ .slideContents #slide1 h1,
  #switch1:checked ~ .slideContents #slide1 p,
  #switch2:checked ~ .slideContents #slide2 h1,
  #switch2:checked ~ .slideContents #slide2 p,
  #switch3:checked ~ .slideContents #slide3 h1,
  #switch3:checked ~ .slideContents #slide3 p {
      opacity: 1;
  }
  
  /* 要素を立体的に */
  .slideContents {
      perspective: 1000px;
  }
  .slideContents section,
  .slideContents h1,
  .slideContents p {
      transition: opacity 1s, transform 1s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  .slideContents section {
      transform: translateX(500px) rotateY(-90deg);
      transition-duration: .8s, 1.2s;
  }
  #switch1:checked ~ .slideContents #slide1 h1,
  #switch2:checked ~ .slideContents #slide2 h1,
  #switch3:checked ~ .slideContents #slide3 h1 {
      transition-delay: .6s, 0s;
  }
  #switch1:checked ~ .slideContents #slide1 p,
  #switch2:checked ~ .slideContents #slide2 p,
  #switch3:checked ~ .slideContents #slide3 p {
      transition-delay: .4s, 0s;
  }
  #switch1:checked ~ .slideContents #slide1,
  #switch2:checked ~ .slideContents #slide2,
  #switch3:checked ~ .slideContents #slide3 {
      transform: translateX(0) rotateY(0deg);
      transition-delay: .2s, 0s;
  }
  #switch1:checked ~ .slideContents #slide3,
  #switch2:checked ~ .slideContents #slide1,
  #switch3:checked ~ .slideContents #slide2 {
      transform: translateX(-500px) rotateY(90deg);
  }
  
  /* :::::: arrow mechanism :::::: */
  .arrow label {
      pointer-events: none;
  }
  #switch1:checked ~ .prev label[for="switch3"],
  #switch2:checked ~ .prev label[for="switch1"],
  #switch3:checked ~ .prev label[for="switch2"],
  #switch1:checked ~ .next label[for="switch2"],
  #switch2:checked ~ .next label[for="switch3"],
  #switch3:checked ~ .next label[for="switch1"] {
      pointer-events: auto;
  }











/****************************button************************************** */
 
/* ---- 共通部 ---- */
#editBtn {
    display: none;
}
label>input[type=checkbox]~span {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150px;
    height: 30px;
    font-size: 20px;
     font-family: 'Lato', sans-serif;
    border-style: none;
    border-radius: 15px; 
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.3),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
}

/* ---- スイッチがONのとき ---- */
label>input[type=checkbox]:checked+span {
    display: flex;

    /* ---- ボタンのデザイン ---- */
    padding-left: 8px;
    color: #fff;
    background: linear-gradient(0deg, rgba(251,33,117,1) 0%, rgba(234,76,137,1) 100%);
}
label>input[type=checkbox]:checked+span+span {
    display: none;
}

/* ---- スイッチがOFFのとき ---- */
label>input[type=checkbox]+span {
    display: none;
}
label>input[type=checkbox]+span+span {
    display: flex;

    /* ---- ボタンのデザイン ---- */
    padding-right: 8px;
    color: #6a859c;
    background-color: #cfd8e4;
}

/* ---- 丸ボタンのデザイン ---- */
label>input[type=checkbox]:checked+span::after, label>input[type=checkbox]+span+span::before {
    display: block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    margin: 3px;
    border-radius: 50%;
    background-color: #e0e5ec;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
    content: "";
}

#addloader span {
    color: #8dbceb;
    text-shadow: 0 0 0 #ffffff;
    -webkit-animation: addLoading 1s ease-in-out infinite alternate;
}

@-webkit-keyframes addLoading {
    to {
        text-shadow: 20px 0 70px #f4f4f5;
        color: #020fff;
    }
}